@media (max-width: 372px) {
    .titlebar_text {
        display: none!important;
    }

    .titlebar_text_mini {
        display: inline-block!important;
    }
}

.content_wrapper > * > * {
    width: calc(100vw - 24px);
}

@keyframes spinOutMenu {
  000% {
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: rotate(45deg);
  }
}

@keyframes spinInClose {
  000% {
    opacity: 0;
    transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes spinOutClose {
  000% {
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: rotate(45deg);
  }
}

@keyframes spinInMenu {
  000% {
    opacity: 0;
    transform: rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes maskIn {
  000% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes maskOut {
  000% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


[noselect] {
  user-select: none;
}

a[mat-ripple][light] {
  text-decoration: none;
  color: white;
}

a[mat-ripple] {
  text-decoration: none;
  color: black;
}

.titlebar_wrapper {
  display: flex;
  position: fixed;
  width: 100vw;
  background: #2962ff;
  color: white;
  font-family: "Coda Regular";
  font-size: 24px;
  height: 56px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.42);
  z-index: 3;
}

.titlebar_button_wrapper {
  display: inline-block;
  font-family: "Material Icons";
  cursor: pointer;
  line-height: 24px;
  margin: auto 0 auto 12px;
  width: 48px;
  height: 48px;
}

.titlebar_button_menu[spinOut] {
  animation-name: spinOutMenu;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(.75, 0, 1, 1);
  opacity: 0;
  z-index: 0;
}

.titlebar_button_menu[spinIn] {
  animation-name: spinInMenu;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(0, 0, .25, 1);
  opacity: 1;
  z-index: 1;
}

.titlebar_button_close[spinOut] {
  animation-name: spinOutClose;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(.75, 0, 1, 1);
  opacity: 0;
  z-index: 0;
}

.titlebar_button_close[spinIn] {
  animation-name: spinInClose;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(0, 0, .25, 1);
  opacity: 1;
  z-index: 1;
}

.titlebar_button_menu {
  display: none;
  visibility: hidden;
  padding: 12px;
}

.titlebar_button_menu[active] {
  display: block;
  visibility: visible;
}

.titlebar_button_close {
  display: none;
  visibility: hidden;
  padding: 12px;
}

.titlebar_button_close[active] {
  display: block;
  visibility: visible;
}

.titlebar_text {
  font-synthesis: style;
  display: inline-block;
  padding: 12px;
  margin: auto 0;
  border-radius: 4px;
  cursor: pointer;
}

.titlebar_text_mini {
  font-synthesis: style;
  display: none;
  padding: 12px;
  margin: auto 0;
  border-radius: 4px;
  cursor: pointer;
}

.titlebar_text .mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.1)!important;
}

.titlebar_text_mini .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0.1)!important;
}

.navbar_wrapper {
  display: flex;
  flex-direction: column;
  color: black;
  background: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0);
  position: fixed;
  top: 56px;
  transform: translateX(-392px);
  height: calc(100vh - 56px);
  width: 392px;
  transition: 0.3s cubic-bezier(0.25, 0, 0.25, 1);
  z-index: 2;
}

.navbar_wrapper[active] {
  transform: translateX(0);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s cubic-bezier(0.25, 0, 0.25, 1);
}

.navbar_item_wrapper {
  display: flex;
  height: 56px;
  transition: 0.1s;
}

.navbar_item_wrapper.active {
  background: rgba(41, 98, 255, .2);
  color: #0d47a1;
}

.navbar_item_icon {
  font-family: Material Icons;
  margin: auto 12px;
  font-size: 24px;
  width: 48px;
  text-align: center;
}

.navbar_item_text {
  font-size: 18px;
  line-height: 56px;
}

.navbar_spacer {
  flex: 1 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
}

.navbar_mask[fadeIn] {
  opacity: 1;
  animation-name: maskIn;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
}

.navbar_mask[fadeOut] {
  animation-name: maskOut;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1);
}

.content_wrapper {
  position: fixed;
  top: 56px;
  background: #fafafa;
  width: 100vw;
  height: calc(100vh - 56px);
  overflow: auto;
  z-index: 0;
}
