h1 {
  margin: 48px auto 0;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 48px auto 0;
  max-width: calc(100vw * 0.9);
  font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 18px;
    margin: 24px auto 0;
    max-width: calc(100vw * 0.9);
    font-weight: 400;
    color: #444;
}
