<h1>Welcome to Almanor Computer Repair!</h1>
<h2>We're dedicated to providing efficient and reliable support for various tech-related questions and/or issues.
  We know that computers can sometimes be difficult to work with, so we'll (optionally, of course) explain everything
  on the way to the solution, and can provide detailed instructions for further troubleshooting if necessary. Our
  goal is to resolve any issue as quickly as possible, so you can get back to what you were doing without those
  pesky distractions!</h2>
